body {
    padding-top: 5%;
}

header{
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 10rem;
}


main {
    padding-top: 5%;
    font-family: 'Lobster', cursive;
}